<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add Room</title>
</head>
<body>
<form th:action="@{/addRoom}"
      th:object="${room}" method="POST" class="form-signin">
    <div class="text-center mb-4">
        <h2 class="mb-3 font-weight-normal">Add Room</h2>
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <label>Room</label>
                    <input type="text" class="form-control" th:field="*{room}" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

</body>
</html>