<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1>User Profile</h1>
<br><br>
<a href="/ListOfUsers"> List of Users </a>
<br><br>
<a th:href="@{/updateUser/{id}(id=${user.id})}">Update User</a>
<br><br>
<a th:href="@{/deleteUser/(id=${user.id})}"> Delete</a>
<br/><br/>
<form th:action="@{/hello}" method="post">
    <input type="submit" value="Sign out of your account"/>
</form>
<br/><br/>
<table border="3">
    <tr>
        <td>Id</td>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td th:text="${user.firstname}"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td th:text="${user.lastname}"></td>
    </tr>
    <tr>
        <td>Age</td>
        <td th:text="${user.age}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <td>Login</td>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <td>Role</td>
        <td th:text="${user.role}"></td>
    </tr>
</table>
<br>
</body>
</html>