<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of presentations</title>
</head>
<body>
<h1> List of presentations </h1>
<br/>
<a href="schedule"> Start List </a>
<br/><br/>

<div>
    <table border="3">
        <tr>
            <th> Setting</th>
            <th> Presentation title</th>
            <th> Classroom</th>
            <th> Start date</th>
            <th> End date</th>
            <th> Presenter</th>
        </tr>
        <tr th:each="presentation : ${presentations}">
            <td><a th:href="@{/updatePresentation/{id}(id=${presentation.id})}"> Change </a></td>
            <td th:utext="${presentation.namepresentation}"></td>
            <td th:utext="${presentation.room}"></td>
            <td th:utext="${presentation.startdate}"></td>
            <td th:utext="${presentation.enddate}"></td>
            <td> <span th:each="user : ${presentation.users} "
                       th:utext="${user.firstname} + ' ' + ${user.lastname} + '; '">
            </span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>