<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of presentations</title>
</head>
<body>
<h1> List of presentations </h1>
<br/>
<a href="startList.html"> Start List </a>
<br/><br/>
<div>
    <table border="3">
        <tr>
            <th> Setting </th>
            <th> Presentation title </th>
            <th> Presenter </th>
            <th> Classroom </th>
            <th> Time </th>
        </tr>
        <tr th:each="presentation : ${presentations}">
            <td> <a th:href="@{/updatePresentation/{id}(id=${presentation.id})}"> Change </a> </td>
            <td th:utext="${presentation.namepresentation}"></td>
            <td> </td>
            <!--<td th:utext="${presentation.room}"> </td>-->
            <td> </td>
        </tr>
    </table>
</div>
</body>
</html>