<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>schedule</title>
</head>
<body>
<h1>Schedule of presentations</h1>
<br/><br/>
<a href="registrationUser"> Registration</a>
<a href="ListOfUsers">Users</a>
<br/><br/>
<a href="listOfPresentations">List of presentations</a>
<a href="addPresentation">Add Presentation</a>
<br/><br/>
<a href="rooms"> Rooms</a>
<br/><br/>

<div>
    <table border="3">
        <tr>
            <th> Presentation title </th>
            <th> Classroom </th>
            <th> Start date </th>
            <th> End date </th>
        </tr>
        <tr th:each="presentation : ${presentations}">
            <td th:utext="${presentation.namepresentation}"></td>
            <td th:utext="${presentation.rooms}"> </td>
            <td th:utext="${presentation.startdate}"></td>
            <td th:utext="${presentation.enddate}"></td>
        </tr>
    </table>
</div>
</body>
</html>