<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1> Update a User: </h1>

<form th:action="@{/updateUser/{id}(id=${user.id})}"
      th:object="${user}" method="post">
    First Name:
    <input type="text" th:field="*{firstname}" th:value="${user.firstname}" required/>
    <br/><br/>
    Last Name:
    <input type="text" th:field="*{lastname}" th:value="${user.lastname}" required/>
    <br/><br/>
    Age:
    <input type="text" th:field="*{age}" th:value="${user.age}" required/>
    <br/><br/>
    Email
    <input type="text" th:field="*{email}" th:value="${user.email}" required/>
    <br/><br/>
    Login
    <input type="text" th:field="*{username}" th:value="${user.username}" required/>
    <br/><br/>
    <table class="table table-bordered">
            <select th:field="*{role}" th:value="*{role}" required>
                <option th:each="role : ${T(com.example.conference.entity.ROLE).values()}"
                        th:field="*{role}"
                        th:value="${role}"
                        th:text="${role.name()}">
                </option>
            </select>
    </table>
    <br/>
    <input type="submit" value="Create"/>
</form>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red; font-style:italic;">

</div>
</body>
</html>