<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update Presentation</title>
</head>
<body>
<h1> Update a Presentation: </h1>

<form th:action="@{/updatePresentation/{id}(id=${presentation.id})}"
      th:object="${presentation}" method="post">
    Name Presentation:
    <input type="text" th:field="*{namepresentation}" th:value="${presentation.namepresentation}" required/>
    <br/><br/>
    Choosing a room:
    <table class="table table-bordered">
        <tr th:each="room : ${rooms}">
            <td>
                <input type="radio"
                       th:field="${presentation.rooms}"
                       th:checked="${true}"
                       th:value="${room.id}"/>
                <label th:text="${room}"></label>
            </td>
    </table>
    <br/><br/>
    <input type="submit" value="Create"/>
</form>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red; font-style:italic;">

</div>
</body>
</html>