<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update Presentation</title>
</head>
<body>
<h1> Update a Presentation: </h1>

<form th:action="@{/updatePresentation/{id}(id=${presentation.id})}"
      th:object="${presentation}" method="post">
    Name Presentation:
    <input type="text" th:field="*{namepresentation}" th:value="${presentation.namepresentation}" required/>
    <br/><br/>
    <p>
        <label for="localdate1"> Date and time start: </label>
        <input id="localdate1" type="datetime-local" th:field="*{startdate}"/>
    </p>
    <p>
        <label for="localdate2"> Date and time the end: </label>
        <input id="localdate2" type="datetime-local" th:field="*{enddate}"/>
    </p>
    <br/><br/>
    Choosing a Presenter:
    <table class="table table-bordered">
        <tr th:each="user : ${users}">
            <td>
                <input type="radio"
                       th:field="${presentation.users}"
                       th:checked="${true}"
                       th:value="${user.id}">
                <label th:utext="${user.firstname}"></label>
                <label th:utext="${user.lastname}"></label>
            </td>
        </tr>
    </table>
    <br/><br/>
    Choosing a room:
    <table class="table table-bordered">
        <tr th:each="room : ${rooms}">
            <td>
                <input type="radio"
                       th:field="${presentation.rooms}"
                       th:checked="${true}"
                       th:value="${room.id}"/>
                <label th:text="${room}"></label>
            </td>
    </table>
    <br/>
    <input type="submit" value="Create"/>
    <br/><br/>
    <a th:href="@{/deletePresentation/(id=${presentation.id})}"> Delete </a>
</form>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red; font-style:italic;">

</div>
</body>
</html>