<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Start List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Schedule of presentations</h1>
<br/><br/>
<a href="registrationPerson.html"> Registration</a>
<br/><br/>
<a href="listOfReports.html">Reports</a>
<br/><br/>
<a href="listOfPerson.html.html">Persons</a>

<br/><br/>
<div>
    <table border="3">
        <tr>
            <th> Presentation title </th>
            <th> Classroom </th>
        </tr>
    </table>
</div>
</body>
</html>
<!--
<tr th:each ="person : ${persons}" >
    <td th:utext="${person.firstName}">...</td>
    <td th:utext="${person.lastName}">...</td>
    <td><a th:href="@{/profilePer/{id}(id=${person.id})}">profile</a></td>
</tr>-->
